<h1>Smoothies!</h1>


<% @smoothies.each do |smoothie| %>

   <%= link_to truncate(smoothie.name,length:40), smoothie%> </br>
<% end %>

<br />
<%if current_user != nil %>
<%= link_to 'New Smoothie', new_smoothie_path %>
<%end%>